---
Checks: '-*,
bugprone-*,
cppcoreguidelines-*,
modernize-*,
-modernize-use-trailing-return-type,
mpi-*,
performance-*,
readability-*,
cert-err52-cpp,
cert-err60-cpp,
cert-err34-c,
cert-err33-c,
cert-mem57-cpp,
cert-dcl21-cpp,
cert-msc50-cpp,
cert-env33-c,
cert-oop58-cpp,
cert-dcl50-cpp,
cert-oop57-cpp,
cert-msc51-cpp,
cert-err58-cpp,
cert-dcl58-cpp,
cert-flp30-c,
google-readability-casting,
google-default-arguments,
google-global-names-in-headers,
google-runtime-int,
google-runtime-operator,
google-explicit-constructor,
google-build-using-namespace,
hicpp-multiway-paths-covered,
hicpp-exception-baseclass,
hicpp-signed-bitwise,
llvm-*,
-llvm-prefer-register-over-unsigned,
-llvm-else-after-return,
-llvm-qualified-auto,
-llvm-header-guard,
misc-*,
-misc-non-private-member-variables-in-classes,
openmp-use-default-none,
portability-simd-intrinsics'